/* For max-width: 768px viewports */

body {
    background-image: url(../media/millions_of_stars-wallpaper-3840x2160.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

header.intro-header {
    display: none;
}

div.section-body {
    display: none;
}

div.container-fluid {
    display: flex;
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
}

div.profile-section {
    order: -1;
}

div.profile-card {
    margin: 0;
    border-right: none !important;
    border-left: none !important;
}

section.aboutme {
    padding: 0;
    padding-top: 1rem;
}

div.project-card {
    margin: 0;
}

.logo-col {
    flex-direction: row;
}

.text-right {
    text-align: center !important;
}

.name-intro {
    position: relative;
    right: auto;
    bottom: auto;
}

header {
    height: auto;
}

.section-body {
    height: 18em;
}

.mask2 {
    line-height: 70px;
    width: 60px;
    height: 60px;
}

.parent2 {
    line-height: 71px;
    width: 60px;
    height: 60px;
    bottom: 12px;
    right: 12px;
}

.test1,
.test2,
.test3,
.test4 {
    height: 90%;
    width: 90%;
    top: 2%;
    right: 5%;
    bottom: 10%;
}

.test1 {
    transition: all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0);
}

.test2 {
    transition: all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0) .15s;
}

.test3 {
    transition: all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0) .3s;
}

.test4 {
    transition: all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0) .45s;
}

.card {
    margin: 2rem;
}

div.section-projects {
    padding-bottom: 0.8rem;
}

.moreprjct-btn {
    margin: auto;
    margin-top: 1rem;
}

.avatar {
    z-index: 20;
    top: -7rem;
}

.avatar img {
    z-index: 21;
}

div.project-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.contact-btn {
    margin: 0 auto;
}

.tab-content header {
    height: 200px;
    line-height: 200px;
}

.tab-content header h1 {
    font-size: 18px;
    font-size: 1.125rem;
}

#cd-timeline {
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    left: 18px;
    margin-left: auto;
}

.cd-timeline-block {
    margin: 2em 0;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

.cd-timeline-img {
    top: 0;
    left: 0 !important;
    width: 40px;
    height: 40px;
    margin-left: 0;
}

.cd-timeline-img img,
.cd-timeline-img i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline-content {
    width: auto;
    margin-left: 60px;
    padding: 1em;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: none;
}

.cd-timeline-content::before {
    top: 16px;
    right: 100%;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
}

.cd-timeline-content .cd-read-more {
    float: right;
}

.cd-timeline-content .cd-date {
    position: inherit;
    width: inherit;
    left: inherit;
    top: inherit;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 0;
}

@media screen and (max-width: 568px) {
    .card {
        margin: 2em 0em;
    }
}
