/* For max-width: 992px viewports */

nav.navbar {
    /*display: none !important;*/
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    background-color: #02b3e4;
}


a.navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

a.nav-link{
    color: white;
    font-size: 1.3rem;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button.navbar-toggler {
  border-color: white;
} 

header {
    margin-top: 3rem;
}

.mini-logo {
    height: 80px;
    width: 50px;
    display: block;
    margin: auto 1.4em;
    position: relative;
}

img.logo {
    display: block;
    margin: auto;
    position: absolute;
    top: 15%;
}

/*.section-body {
    height: 25em;
}*/

.parent2 {
    bottom: 30px;
    right: 40px;
    position: fixed;
    display: block;
    width: 90px;
    height: 90px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.test1 {
    width: 60%;
    height: 60%;
    background-color: #3700B3 !important;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 65px;
    top: 25%;
    right: 25%;
    z-index: 19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position: absolute;
}

.test2 {
    width: 60%;
    height: 60%;
    background-color: #3700B3 !important;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 65px;
    top: 25%;
    right: 25%;
    z-index: 19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}

.test3 {
    width: 60%;
    height: 60%;
    background-color: #3700B3 !important;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 65px;
    top: 25%;
    right: 25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}

.test4 {
    width: 60%;
    height: 60%;
    background-color: #3700B3 !important;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 65px;
    top: 25%;
    right: 25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}

.test1,
.test2,
.test3,
.test4 {
    -webkit-box-shadow: -6px 6px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 6px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 6px 21px -4px rgba(0, 0, 0, 0.75);
}

.mask2 {
    bottom: 30px;
    right: 40px;
    width: 90px;
    height: 90px;
    background-color: #3700B3;
    border-radius: 50%;
    position: absolute;
    z-index: 21;
    color: white;
    text-align: center;
    line-height: 105px;
    cursor: pointer;
    position: fixed;
    -webkit-box-shadow: -6px 6px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 6px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 6px 21px -4px rgba(0, 0, 0, 0.75);
}

.moreprjct-btn {
    float: none;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.resumebtn {
    margin-top: 1.2rem;
}

.cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
}

.cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
}
